<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>
    
    <div class="container container-tabla">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Texto</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% avisos.forEach( avi => { %>
            <tr class="filaTabla" data-bs-toggle="modal" data-bs-target="#verMiavisoModal<%=avi.Id%>">
              
              <% if(avi.categoria === 'sugerencia') {%>
                <td><i class="fa-solid fa-lightbulb color-amarillo"></i></td>
              <% } else if(avi.categoria === 'incidencia') {%> 
                <td><i class="fa-solid fa-circle-exclamation color-rojo"></i></td>
              <% } else { %>
                <td><i class="fa-solid fa-heart color-verde"></i></td>
              <% } %>

              <td><%=avi.fecha%></td>
               
              <td><%=avi.observaciones.slice(0, 200)%></td>

              <% if (avi.nEmpleado == null) { %>
                <td><i class="fa-solid fa-user-tie"></i></td>
              <% } else { %>
                <td><i class="fa-solid fa-user-tie apagado"></i></td>
              <% } %>

              <td><i class="fa-solid fa-trash basura" data-bs-toggle="modal" data-bs-target="#borrarModal"></i></td>
            </tr>
            <%- include("verAvisoModal", {usuario: usuario,avi: avi, tecnicos: tecnicos}) %>
          <% }); %> 
          
        </tbody>
      </table>

    </div>
</body>
</html>