<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>
    <div class="container container-tabla">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% usuarios.forEach( usu => { %>
            <tr class="filaTabla" ><!-- ?usuId= -->
              <td onclick="window.location='/profile/<%=usu.Id%>'"><%=usu.Id%></td><!-- cambiar -->
              <td onclick="window.location='/profile/<%=usu.Id%>'"><%=usu.nombre%></td>
              <% if(usu.nEmpleado !== null) {%>
                <td onclick="window.location='/profile/<%=usu.Id%>'">Téctico</td>
              <% } else { %>
                <td onclick="window.location='/profile/<%=usu.Id%>'">Usuario</td>
              <% } %> 
              <td><i class="fa-solid fa-trash basura" data-bs-toggle="modal" data-bs-target="#borrarModal"></i></td>
            </tr>
          <% }); %>
          
          
        </tbody>
      </table>
    </div>
    <%- include("borrarModal") %>
</body>
</html>