<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>
    <div class="container container-tabla">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% usuarios.forEach( usu => { %>
            <tr class="filaTabla" ><!-- ?usuId= -->
              <td onclick="window.location='/profile/<%=usu.Id%>'"><%=usu.fecha.slice(0, 19).replace('T', ' ')%></td><!-- cambiar -->
              <td onclick="window.location='/profile/<%=usu.Id%>'"><%=usu.nombre%></td>
              <% if(usu.nEmpleado !== null) {%>
                <td onclick="window.location='/profile/<%=usu.Id%>'">Técnico</td>
              <% } else { %>
                <td onclick="window.location='/profile/<%=usu.Id%>'">Usuario</td>
              <% } %> 
              <% if(usu.Id !== usuario.Id) {%>
              <td><i class="fa-solid fa-trash basura" data-bs-toggle="modal" data-bs-target="#borrarModal<%=usu.Id%>"></i></td>
              <% } %> 
            </tr>
            <%- include("borrarModal", {aviso: null, usuario: usu}) %>
          <% }); %>
        </tbody>
      </table>
    </div>
</body>
</html>