<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
    <link rel="stylesheet" href="/css/avisos.css">
    <script src="/scripts/añadirAviso.js"></script>
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>
    <div id="fondo"></div>
    <img id="imgFondo" src="/images/misAvisosArt.svg" alt="foto fondo mis avisos">
    <div class="container container-tabla">
      <% if (!avisos) { %>
        <h5 class="text-center">No tiene ningún aviso</h5>
      <% } else { %>

      <table class="table">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Texto</th>
              <% if (usuario.nEmpleado == null) { %>
                <th scope="col">Técnico</th>
              <% } else { %>
                <th scope="col"></th>
              <% } %>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% avisos.forEach( avi => { %>
              <tr class="filaTabla" data-bs-toggle="modal" data-bs-target="#verMiavisoModal<%=avi.Id%>">
                
                <% if(avi.categoria === 'sugerencia') {%>
                  <td><i class="fa-solid fa-lightbulb color-amarillo"></i></td>
                <% } else if(avi.categoria === 'incidencia') {%> 
                  <td><i class="fa-solid fa-circle-exclamation color-rojo"></i></td>
                <% } else { %>
                  <td><i class="fa-solid fa-heart color-verde"></i></td>
                <% } %>

                <td><%=avi.fecha%></td>
                 
                <td><%=avi.observaciones%></td>
                <% if (usuario.nEmpleado == null) { %>
                  <td><%=avi.nombreTecnico%></td><!-- cambiar -->
                <% } else { %>
                  <% if (avi.comentarios == '') { %>
                  <td><i class="fa-solid fa-trash basura" data-bs-toggle="modal" data-bs-target="#borrarModal<%=avi.Id%>"></i></td>
                  <%- include("borrarModal", {aviso: avi, usuario: null}) %>
                  <% } %>
                <% } %>
              </tr>
              <%- include("verAvisoModal", {usuario: usuario,avi: avi}) %>
            <% }); %> 
            
          </tbody>
        </table>
        <% } %>
        <% if (usuario.nEmpleado == null) { %>
          <div class="row">
            <button class="btn button-tema" data-bs-toggle="modal"
              data-bs-target="#añadirAvisoModal"> Añadir</button>
          </div>
        <% } %>
        
  </div>
  <% if (usuario.nEmpleado == null) { %>
    <%- include("añadirAvisoModal", {usuario: usuario, temas: temas}) %>
  <% } %>
</body>
</html>