<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
    
    <script src="/scripts/añadirAviso.js"></script>
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>

    <div class="container container-tabla">


      <table class="table">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Tipo</th>
              <th scope="col">Texto</th>
              <th scope="col">Técnico</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% avisos.forEach( avi => { %>
              <tr class="filaTabla" data-bs-toggle="modal" data-bs-target="#verMiavisoModal<%=avi.Id%>">
                <td><%=avi.fecha%></td>

                <% if(avi.categoria === 'sugerencia') {%>
                  <td><i class="fa-solid fa-lightbulb color-amarillo"></i></td>
                <% } else if(avi.categoria === 'incidencia') {%> 
                  <td><i class="fa-solid fa-circle-exclamation color-rojo"></i></td>
                <% } else { %>
                  <td><i class="fa-solid fa-heart color-verde"></i></td>
                <% } %> 
                 
                <td><%=avi.observaciones%></td>
                <td><%=avi.Id%></td><!-- cambiar -->
              </tr>
              <%- include("verAvisoModal", {usuario: usuario,avi: avi}) %>
            <% }); %> 
            
            
          </tbody>
        </table>

        <div class="row">
          <button class="btn button-tema" data-bs-toggle="modal"
						data-bs-target="#añadirAvisoModal"> Añadir</button>
        </div>
  </div>
  
  <%- include("añadirAvisoModal", {usuario: usuario, temas: temas}) %>
</body>
</html>