<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>
    <main class="container-fluid ">
        <img src="/imagen/<%=usuarioEn.Id%>" alt="foto usuario" class="foto">
        <div class="card">                    
            <div class="lines"></div>
            <div class="dataDiv">
                <div class="row nombreyfoto">
                    <h3 class="col-10" id="textoNombre"><%= usuarioEn.nombre %></h3>
                    <img class="col-2" src="/imagen/<%=usuarioEn.Id%>" alt="foto usuario" id="f">
                </div>
                <div class="row lineaPerfil">
                    <h5><b>Perfil universitario :</b> &nbsp <%=usuarioEn.perfil%></h5>
                </div> 
                <div class="row lineaPerfil">
                    <h5><b>Correo electrónico : </b> &nbsp  <%=usuarioEn.email%></h5>
                </div>
                <div class="row lineaPerfil">
                    <% 
                    let passwordHidden = ""
                    for (let letter in usuarioEn.contraseña) { 
                        passwordHidden+="∗"
                    }
                    %>
                    <h5><b>Contraseña :</b> &nbsp <%=passwordHidden%></h5>
                </div>
                <div class="row lineaPerfil">
                    <h5><b>Fecha creacion:</b> &nbsp <%=usuarioEn.fecha%></h5>
                </div> 
                <div class="row lineaPerfil stats text-center">
                    <% if (usuarioEn.nEmpleado == null) { %>
                        <h5><b> Avisos gestionados : </b> &nbsp <%=usuarioEn.nAvisos%></h5>
                    <% } else { %>
                        <h5><b> Avisos realizados : </b> &nbsp <%=usuarioEn.nAvisos%></h5>
                    <% } %>
                    <h5><b> Incidencias : </b> &nbsp <%=usuarioEn.nIncidencias%></h5>
                    <h5><b> Sugerencias : </b> &nbsp <%=usuarioEn.nSugerencias%></h5>
                    <h5><b> Felicitaciones : </b> &nbsp <%=usuarioEn.nFelicitaciones%></h5>
                </div>   
            </div>
        </div>
            
    </main>    
</body>
</html>