<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>
    <main class="container-fluid ">
        <div class="row">
            <div class="col-5 col-izq sombra">
                <img src="/imagen/<%=usuarioEn.Id%>" alt="foto usuario" class="foto-perfil">
               
                <div class="row color-fondo-tema">
                    <h2 class="text-center"><b><%= usuarioEn.nombre %></b></h2>
                </div>
            </div>

            <div class="col-7">
                <div class="container container-tabla">
                    <div class="row">
                        <h5><b>Id:</b>  <%=usuarioEn.Id%></h5>
                    </div>
                    <div class="row">
                        <h5><b>Correo electrónico:</b>  <%=usuarioEn.email%></h5>
                    </div>
                    <div class="row">
                        <h5><b>Contraseña:</b>  <%=usuarioEn.contraseña%></h5>
                    </div>
                    <div class="row">
                        <h5><b>Perfil universitario:</b>  <%=usuarioEn.perfil%></h5>
                    </div>
                    <div class="row">
                        <h5>aaaa</h5>
                    </div>
                    <div class="row">
                        <h5>aaaa</h5>
                    </div>
                    <div class="row">
                        <h5>aaaa</h5>
                    </div>
                    <div class="row">
                        <h5>aaaa</h5>
                    </div>
                    <div class="row">
                        <h5>aaaa</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>

    
    
</body>
</html>