<!DOCTYPE html>
<html lang="en">
    <%- include("head") %>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include("navbar", {usuario: usuario, panel: panel}) %>
    <main class="container-fluid ">
        <div class="row fondo">
            <div class="col-5 ladoIzquierdo">
                <div><img src="/imagen/<%=usuarioEn.Id%>" alt="foto usuario" class="foto"></div>                         
            </div>

            <div class="col-7 ladoDerecho">
                <div class="card">                    
                    <div class="lines"></div>
                    <div class="dataDiv">
                        <div class="row lineaPerfil text-center">
                            <h3 id="textoNombre"><%= usuarioEn.nombre %></h3>
                        </div>
                        <div class="row lineaPerfil">
                            <h5><b>Id :</b> &nbsp  <%=usuarioEn.Id%></h5>
                        </div>
                        <div class="row lineaPerfil">
                            <h5><b>Correo electrónico : </b> &nbsp  <%=usuarioEn.email%></h5>
                        </div>
                        <div class="row lineaPerfil">
                            <h5><b>Contraseña :</b> &nbsp <%=usuarioEn.contraseña%></h5>
                        </div>
                        <div class="row lineaPerfil">
                            <h5><b>Perfil universitario :</b> &nbsp <%=usuarioEn.perfil%></h5>
                        </div> 
                        <div class="row lineaPerfil stats text-center">
                            <h5><b> Avisos realizados/gestionados : </b> &nbsp <%=usuarioEn.nAvisos%></h5>
                            <h5><b> Incidencias : </b> &nbsp <%=usuarioEn.nIncidencias%></h5>
                            <h5><b> Sugerencias : </b> &nbsp <%=usuarioEn.nSugerencias%></h5>
                            <h5><b> Felicitaciones : </b> &nbsp <%=usuarioEn.nFelicitaciones%></h5>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </main>    
</body>
</html>