<div class="modal fade" id="verMiavisoModal<%=avi.Id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header color-fondo-tema">
                <h1 class="modal-title fs-5" id="verMiavisoModalLabel">Aviso <%= avi.Id %>: <%= avi.categoria %>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <hr style="height:5px; width:100%; color:rgb(0, 0, 0);">
                <div class="d-flex justify-content-around">
                    <div class="row"><h5 class="col-auto"> Perfil: </h5><p class="col-auto"><%= usuario.perfil %></p></div>                    
                </div>
                <hr style="height:5px; width:100%; color:rgb(0, 0, 0);">
                <div class="d-flex justify-content-around">
                    <div class="row"><h5 class="col-auto"> Fecha: </h5><p class="col-auto"><%= avi.fecha %></p></div>
                    <div class="row"><h5 class="col-auto"> Comunicaciones: </h5><p class="col-auto"><%= avi.tema %></p></div>                  
                </div>
                <hr style="height:5px; width:100%; color:rgb(0, 0, 0);">
                <div class="d-flex justify-content-around">
                    <h5 class="col-auto">Observaciones</h5>
                </div>
                <div class="row">
                    <div class="card border border-dark" style="width:90%; margin:auto;">
                        <div class="card-body">
                            <p>
                                <%= avi.observaciones %>
                            </p>
                        </div>
                    </div>
                </div>
                <hr style="height:5px; width:100%; color:rgb(0, 0, 0);">
                <div class="text-center">
                    <h5>Comentarios del técnico</h5>
                </div>
                <hr style="height:5px; width:100%; color:rgb(0, 0, 0);">
                <div class="row">
                    <p>
                        <%= avi.comentarios %>
                    </p>
                </div>
                <% if (typeof tecnicos !== 'undefined') { %>
                    <div class="d-flex justify-content-around">
                        <div class="row">
                            <h5 class="col-auto">Técnico asignado</h5>
                            <select class="col-auto" name="" id="">
                                <% tecnicos.forEach( t => { %>
                                    <option value="<%= t.id %>"><%= t.nombre %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                <% } %>
                
                <hr style="height:5px; width:100%; color:rgb(0, 0, 0);">    
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>